body {
  background-color: lightcyan;
}

h1 {
  text-align: center;
  color: solid blue;
  font-size: 24px;
  font-weight: bold;
}

.bottom_part {
  position:absolute;
  bottom: 10px;
  text-align:right;
  font-style: italic;
}

