body {
  background-color: lightcyan;
}

h1 {
  text-align: center;
  color: solid blue;
  font-size: 24px;
  font-weight: bold;
}

.header {
  width: 70%;
  background-color: black;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.bottom_part {
  /*float:bottom;*/
  text-align:right;
  font-style: italic;
}

